.body {
    font-family: ;
    background-color: white;
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    background-color: #326699;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 100;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.logo {
    width: 3vw;
    background-color: #D4352C;
    position: fixed;
    margin-top: 22px;
    margin-left: 10px;
    height: 56px;

    grid-column: 1/2;
    grid-row: 1/2;
}

.logo_2 {
    width: 3vw;
    background-color: #D4352C;
    position: relative;
    margin-top: 22px;
    margin-left: 61px;
    height: 56px;
}

.item {
    width: 5vw;
    background-color: #DB7E5E;
    position: relative;
    margin-top: 22px;
    margin-left: 100px;
    height: 26px;
    z-index: 60;
}

.link {
    width: 5vw;
    background-color: #D4352C;
    margin: auto;
    position: relative;
    margin-top: 22px;
    height: 26px;
    z-index: 60;

    grid-column-start: 1;
    grid-column-end: 2;
}

.link_2 {
    width: 5vw;
    background-color: #D4352C;
    margin: auto;
    position: relative;
    margin-top: 22px;
    height: 26px;
    z-index: 60;
}

.banner {
    width: 75vw;
    background-color: #43A183;
    position: relative;
    margin: auto;
    padding: 5px;
    margin-top: 100px;
    height: 212px;
}

.text_box {
    width: 17vw;
    background-color: #D4352C;
    position: relative;
    margin: auto;
    padding: 0;
    margin-bottom: 5px;
    height: 30px;
    z-index: 50;

    grid-column-start: 1;
    grid-column-end: 2;
}

.text_box_2 {
    width: 26vw;
    background-color: #DB7E5E;
    position: relative;
    margin: auto;
    padding: 0;
    margin-bottom: 5px;
    height: 108px;

    grid-column-start: 1;
    grid-column-end: 2;
}

.image {
    width: 75vw;
    background-color: #326699;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 0px;
    height: 776px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.image_7 {
    width: 75vw;
    background-color: #43A183;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    height: 776px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.image_2 {
    width: 75vw;
    background-color: #326699;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    height: 420px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.row {
    width: 75vw;
    background-color: #43A183;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    height: 400px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.image_box {
    width: 37vw;
    background-color: #6699CC;
    position: relative;
    margin: auto;
    margin-top: 0px;
    margin-right: 0px;
    padding: 0px;
    height: 400px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.image_3 {
    width: 326px;
    background-color: #326699;
    position: absolute;
    margin: auto;
    margin-top: 22px;
    margin-left: 22px;
    height: 356px;
}

.image_4 {
    width: 326px;
    background-color: #326699;
    position: absolute;
    margin: auto;
    margin-top: 22px;
    margin-left: 370px;
    height: 165px;
}

.image_5 {
    width: 326px;
    background-color: #326699;
    position: absolute;
    margin: auto;
    margin-top: 205px;
    margin-left: 370px;
    height: 165px;
}

.image_6 {
    width: 75vw;
    background-color: #326699;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    height: 420px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.footer {
    width: 100vw;
    background-color: white;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    height: 735px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer_info_3 {
    width: 75vw;
    background-color: #DB7E5E;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    height: 147px;

    grid-column: 2/4;
    grid-row: 1/2;
}

.footer_info {
    width: 8vw;
    background-color: #D4352C;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    height: 329px;

    grid-column: 2/4;
    grid-row-start: 2;
}

.footer_info_2 {
    width: 50vw;
    background-color: #D4352C;
    position: absolute;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    height: 28px;

    grid-column: 2/4;
    grid-row: 4/5;
}

.social {
    width: 50vw;
    background-color: #D4352C;
    position: absolute;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    height: 51px;

    grid-column: 2/4;
    grid-row: 5/6;
}